{% extends 'base.html' %}

{% block content %}
  {% comment %} <h1>영화 상세 정보</h1> {% endcomment %}
  <div class="container">
    <div class="d-flex column justify-content-between" style="height: 70%; overflow: auto;">
      <div class="card row justify-content-center" style="width: 700px; height: auto; object-fit: cover;">
        <img src="{{ movie.poster_path }}" alt="{{ movie.title }}" style="height: 100%; float:right;">
      </div>
      <div class="card" style="width: 100%;">
        <!--제목,분류,작성일-->
        <div class="card-header">
            <h3 class="font02" style="width: 100%;">{{ movie.title }}</h3>
        </div>
        <div class="card-body" style="min-height: 400px; color:black;">
            <!--작성자, 조회수-->
            <div>
              <span class="font02" style="margin-rignt: 5px;">감독: <span>
              <span class="font03" style="width: 100%;">{{ movie.director }}</span><br><br>
              <span class="font02">배우: <span>
              <span class="font03" style="width: 100%;">{{ movie.actor }}</span><br><br>
              <span class="font02">장르: <span>
              <div>
                {% for movie_genre in movie.genres.all %}
                  <span class="font03">{{ movie_genre.name }}, </span>
                {% endfor %}
              </div>
            </div>
            <br>
            <!--내용-->
            <div>
              {% if movie.overview %}
                <span class="font02">줄거리 : <span>
                <p class="font03">{{ movie.overview|truncatechars:200 }}</p><br>
              {% else %}
                <span>줄거리가 없습니다.</span><br>
              {% endif %}
              <div class="d-flex row justify-content-around">
                <h5 class="font03" >평점 : {{ movie.vote_average }}</h5>
              </div>
              <br>
              <div class="d-flex row align-items-center justify-content-center" style="width: 100%;">
                <form id="form_like" data-movieId="{{ movie.id }}" action="{% url 'movies:like' movie.id %}" method="POST" class="d-inline">
                  {% csrf_token %}
                  {% if user in movie.like_users.all %}
                    <button class="btn btn-link">
                      <i class="fas fa-heart fa-lg heart-{{ movie.id }}" style="color:crimson;"></i>
                    </button>
                  {% else %}
                    <button class="btn btn-link">
                      <i class="fas fa-heart fa-lg heart-{{ movie.id }}" style="color:black;"></i>
                    </button>
                  {% endif %}
                </form>
                <span class="font03" id='likeCount-{{ movie.id }}'>{{ movie.like_users.all|length }}명이 이 영화를 좋아합니다.</span>
              </div>

            </div>
        </div>
      </div>
    </div>
    <br>    
    <div class="d-flex row justify-content-center">
      <div class="card" style="width: 97%;">
        <div class="card-body">
          <div class="col-md-12">
            <h4 class="font02">평점 + 한줄 영화평</h4>
              <div class="row ml-2">
                {% if comments|length %}
                  <p><b>{{ comments|length }}개의 평점이 있습니다.</b></p>
                {% endif %}
                <div class="row ml-5">
                  {% if request.user.is_authenticated %}
                    <form action="{% url 'movies:movie_comment_create' movie.id %}" method="POST">
                      {% csrf_token %}
                      {{ comment_form.as_p }}
                      <input class="btn btn-sm ml-5" type="submit" value="[평점 쓰기]">
                    </form>
                  {% else %}
                    <a href="{% url 'accounts:login' %}">[평점을 작성하려면 로그인하세요.]</a>
                  {% endif %}
                  <a class="btn btn-sm ml-5" href="{% url 'community:index' %}">[리뷰 쓰러 가기]</a>
                </div>
              </div>

              {% for comment in comments %}
                <div>
                  <span class="font02">평점: {{ comment.rank }}</span><br>
                  <span class="text-center font03"> {{ comment.content }}</span>
                  <span class="text-center">- written by {{ comment.user }}</span><br>
                  <div class="text-right">
                    {% if request.user == comment.user %}
                      <a class="btn btn-sm" href="{% url 'movies:movie_comments_update' movie.id comment.pk %}">수정</a>
                      <form action="{% url 'movies:movie_comments_delete' movie.id comment.pk %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input class="btn btn-sm" type="submit" value="삭제">
                      </form>
                    <hr>
                    {% else %}
                    <hr>
                    {% endif %}
                  </div>
                </div>
              {% empty %}
                <p><b>영화평이 없어요..</b></p>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}

{% block script %}
  <script>
    const likeBtnForms = document.querySelectorAll('#form_like')
    likeBtnForms.forEach(likeBtnForm => {
      const movieId = likeBtnForm.dataset.movieid
      likeBtnForm.addEventListener('click', function (e) {
        e.preventDefault()
        // 좋아요 요청 주소 :  path('<int:review_pk>/like/', views.like, name='like'),
        const API_URL = `/movies/${movieId}/like/`
        const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
        const options = {headers: {'X-CSRFToken': csrfToken}}

        axios.post(API_URL, {}, options)
          .then(res => {
            const { is_like, like_count } = res.data
            const likeHeart = document.querySelector(`.heart-${movieId}`)
            likeHeart.style.color = is_like ? 'crimson' : 'black'
            const countHeart = document.querySelector(`#likeCount-${movieId}`)
            countHeart.innerText = `${like_count}명이 이 영화를 좋아합니다.`
          })
          .catch(err => {
            console.error(err)
          })

      })
    })
  </script>
{% endblock %}

{% block style %}
  p {
    margin-bottom: 2px;
  }
{% endblock %}