{% extends 'base.html' %}

{% block content %}
  <h1 class="font01 text-center mt-5">#{{ genre.name }}</h1>
  <br>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-6">
      {% for movie in movie_list %}
        <div class="col mb-3">
          <div class="card-content">
            <a class="spectrum-a" href="{% url 'movies:detail' movie.pk %}"><img style="width: 150px; height: 190px; object-fit: cover;" class="img-fluid" src="{{ movie.poster_path }}" alt="poster"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block style %}
  p.site-title {
  color: #000000;
  }
  div.card-content {
    background: #f5f5f5;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }

  div.card-content h3 {
  margin-bottom: 0.5em;
  font-weight: normal;
  }

  div.card-content p {
  font-size: 95%;
  }

  img.spectrum1 {
    width: 100%;
    height: auto;
  }

  div a, a:hover {
    text-decoration: none;
  }

  div a:hover {
    opacity: 0.8;
  }

  $slide-width: 200px;
  $slide-height: 100px;

  #slider {
  width: $slide-width;
  height: $slide-height;
  overflow: hidden;
    border: 1px solid #c69;
  }

  .slide {
  width: $slide-width;
  height: $slide-height;
  float: left;
  position: relative;
  }

  #slide-holder {
    // wide enough to fit all the slides
  width: 400%;
  position: relative;
  left: 0;
  animation: scroller 10s infinite;
  }

  // need a step for each slide
  @keyframes scroller {
    0% { transform: translateX(0); }
    33% { transform: translateX(-$slide-width); }
    66% { transform: translateX(-$slide-width*2); }
    100% { transform: translateX(0); }
  }

{% endblock %}