{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="d-flex row justify-content-center">
    <div class="card mt-5" style="width: 60%;">
      <div class="card-header">
        <div class="col-md-12">
          <h4 class="font02">평점 + 한줄 영화평 수정</h4>
          <div class="row ml-5">
          </div>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="input-field col s12 justify-content-center">
            <h5 class="font03">- 내 평점(별) :&nbsp; {{ grade_form.rate }}</h5>
          </div>
          <div class="input-field col s12">
            <h5 class="font03">- 한 줄평 :&nbsp; {{ grade_form.content }}</h5>         
          </div>
          <div class="card-footer" style="padding-left: 0px; margin-top:18px;">
            <div class="form-group">
              <div class="col-sm-12">
                  <p>* 한 줄평은 최대 50자까지만 작성 가능합니다. 그 이상은 리뷰 쓰기를 이용해주세요.</p>
                  <button style="float: right;" class="btn bt-block btn-success" type="submit" name="action">수정 완료</button>
                  <a href="{% url 'movies:detail' movie.id %}">뒤로 가기</a>
              </div>
            </div>
          </div>
        </form>                
      </div>
    </div>
  </div>
</div>

{% endblock %}
