{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>
  <hr>
  <h2>장르별 추천</h2>
  <br>
  <button id="left"> < </button><button id="right"> > </button>
  <div class="wrap">
    {% for genre in genres %}
      <div class="inner jumbotron jumbotron-fluid float-left" display="inline-block" style="background-color:white; border: 1px solid rgba(var(--b6a,219,219,219),1);">
        <div>
          <h1><a href="{% url 'movies:genre_movie_list' genre.name %}"><h3 class='btn-lg btn'>#{{ genre.name }}</h3></a></h1>
        </div>
      </div>
    {% endfor %}
  </div>
  <br>
  {% comment %} <div>
    {% for movie in movie_list %}
      <h3>{{ movie.title }}</h3>
      <br>
      <img src="{{ movie.poster_path }}" alt="{{ movie.title }}">
      <br>
      <form id="form_like" data-movieId="{{ movie.id }}" action="{% url 'movies:like' movie.id %}" method="POST" class="d-inline">
        {% csrf_token %}
        {% if user in movie.like_users.all %}
          <button class="btn btn-link">
            <i class="fas fa-heart fa-lg heart-{{ movie.id }}" style="color:crimson;"></i>
          </button>
        {% else %}
          <button class="btn btn-link">
            <i class="fas fa-heart fa-lg heart-{{ movie.id }}" style="color:black;"></i>
          </button>
        {% endif %}
      </form>

      <span id='likeCount-{{ movie.id }}'>{{ movie.like_users.all|length }}명이 이 영화를 좋아합니다.</span>
      <br>
      <a href="{% url 'movies:detail' movie.id %}">[detail]</a>
      <hr>
    {% endfor %}
  </div> {% endcomment %}

{% endblock %}

{% block script %}
  <script>
    var outer = $('.wrap');

    $('#right').click(function() {
          outer.animate({scrollLeft: '+=30%'}, 500);
    });

    $('#left').click(function() {
          outer.animate({scrollLeft: '-=30%'}, 500);
    });

    {% comment %} const likeBtnForms = document.querySelectorAll('#form_like')
    likeBtnForms.forEach(likeBtnForm => {
      const movieId = likeBtnForm.dataset.movieid
      likeBtnForm.addEventListener('click', function (e) {
        e.preventDefault()
        // 좋아요 요청 주소 :  path('<int:review_pk>/like/', views.like, name='like'),
        const API_URL = `/movies/${movieId}/like/`
        const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
        const options = {headers: {'X-CSRFToken': csrfToken}}

        axios.post(API_URL, {}, options)
          .then(res => {
            const { is_like, like_count } = res.data
            const likeHeart = document.querySelector(`.heart-${movieId}`)
            likeHeart.style.color = is_like ? 'crimson' : 'black'
            const countHeart = document.querySelector(`#likeCount-${movieId}`)
            countHeart.innerText = `${like_count}명이 이글을 좋아합니다.`
          })
          .catch(err => {
            console.error(err)
          })

      })
    }) {% endcomment %}

  </script>

{% endblock %}

{% block style %}
  .wrap {
     width: 100%;
     height: 100%;
     overflow: scroll;
  }

  .inner {
     width: 33%;
  }
{% endblock  %}