{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>
  <hr>
  <a href="{% url 'movies:search' %}"><h2>영화 검색</h2></a>
  <br>
  <h2>#장르별 추천</h2>
  <hr>
  <br>
  <button id="left"> < </button><button id="right"> > </button>
  <div class="wrap">
    {% for genre in genres %}
      <div class="inner jumbotron jumbotron-fluid float-left" display="inline-block" style="background-color:white; border: 1px solid rgba(var(--b6a,219,219,219),1);">
        <div>
          <h2><a href="{% url 'movies:genre_movie_list' genre.name %}"><h3 class='btn-lg btn'>#{{ genre.name }}</h3></a></h2>
        </div>
      </div>
    {% endfor %}
  </div>
  <br>
  <!-- 좋아요 누른 영화 목록 -->
  <h2>#내가 좋아하는 영화</h2>
  <hr>
  <div class="wrap">
    {% for like_movie in like_movies %}
      <div class="inner jumbotron jumbotron-fluid float-left" display="inline-block">
        <a href="{% url 'movies:detail' like_movie.id %}"><h3>{{ like_movie.title }}</h3></a>
        <br>
        <img src="{{ like_movie.poster_path }}" alt="{{ like_movie.title }}">
      </div>
    {% endfor %}
  </div>
  <br>
  <!-- 좋아요한 영화의 감독의 다른 영화 추천 -->
  <h2>#내가 좋아하는 감독의 영화</h2>
  <hr>
  <div>
    {% for like_movie_director_movie in like_movie_director_movie_list %}
      <span>{{ like_movie_director_movie.director }}</span>
      <a href="{% url 'movies:detail' like_movie_director_movie.id %}"><h3>{{ like_movie_director_movie.title }}</h3></a>
    {% endfor %}
  </div>
  {% comment %} <!-- 좋아요한 영화와 같은 장르의 영화 평점 높은 순으로 정렬 -->
  <h2>#취향저격!</h2>
  <hr>
  <div>

  </div> {% endcomment %}

{% endblock %}

{% block script %}
  <script>
    var outer = $('.wrap');

    $('#right').click(function() {
          outer.animate({scrollLeft: '+=30%'}, 500);
    });

    $('#left').click(function() {
          outer.animate({scrollLeft: '-=30%'}, 500);
    });
  </script>

{% endblock %}

{% block style %}
  .wrap {
     width: 100%;
     height: 100%;
     overflow: scroll;
  }

  .inner {
     width: 33%;
  }
{% endblock  %}