{% extends 'base.html' %}

{% block content %}
  <!-- 새로운 디테일 페이지-->
  <div class="container">
    <div class="row-mt-5">
        <div class="col-12">
            <!--본문-->
            <div class="card mt-5" style="width: 100%;">
                <!--제목,분류,작성일-->
                <div class="card-header">
                    <strong style="font-size: 25px;">{{ review.title }}</strong>
                    &nbsp;&nbsp;<span style="font-size: 18px; color: gray;">{{ review.movie }}</span>
                    <div>
                      <span style="float:right;">최초 작성 시각 : {{ review.created_at|date:'Y.m.d. H:i' }}</span><br>
                      <span style="float:right;">수정 시각 : {{ review.updated_at|date:'Y.m.d. H:i' }}</span>
                    </div>
                </div>
                <div class="card-body" style="min-height: 400px; color:black;">
                    <!--작성자, 조회수-->
                    <div>
                        <div class="row justify-content-between align-items-center">
                          <span class="ml-3"><i class="fas fa-user-edit"></i>&nbsp;작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></span>
                          <div class="row align-items-center mr-3">
                            <form id="form_like" data-reviewId="{{ review.pk }}"action="{% url 'community:like' review.pk %}" method="POST" class="d-inline" style="float:right;">
                              {% csrf_token %}
                              {% if user in review.like_users.all %}
                                <button class="btn btn-link">
                                  <i class="fas fa-heart fa-lg heart-{{ review.pk }}" style="color:crimson;"></i>
                                </button>
                              {% else %}
                                <button class="btn btn-link">
                                  <i class="fas fa-heart fa-lg heart-{{ review.pk }}" style="color:black;"></i>
                                </button>
                              {% endif %}
                            </form>
                            <span id='likeCount-{{ review.pk }}' style="float:right;">좋아요 수 : {{ review.like_users.all|length }}</span>
                          </div>
                        </div>
                    </div>
                    <hr>
                    {% if notice.upload_files %}
                    <div class="col-12 text-right">
                        <span style="color: gray;">첨부파일 :&nbsp;</span>
                        <a id="id_uploaded_file" href="{% url 'notice:notice_download' notice.id %}" >{{ notice.filename|truncatechars:25 }}</a>
                    </div>
                    {% endif %}
                    <!--내용-->
                    <div>
                        {{ review.content | safe }}
                    </div>
                </div>
            </div>
            <br>
            <div class="text-right" style="margin-top:-15px;">
                {% if request.user == review.user %}
                <div class="d-flex row justify-content-end">
                  <button class="btn btn-sm" id="detail_btn" onclick="location.href='{% url 'community:update' review.id %}'">수정</button>
                  <form action="{% url 'community:delete' review.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="삭제" id="delete_btn">
                  </form>
                  <button class="btn btn-sm" id="detail_btn" onclick="location.href='{% url 'community:index' %}'">목록으로</button>
                </div>
                {% else %}
                <button class="btn btn-sm" id="detail_btn" onclick="location.href='{% url 'community:index' %}'">목록으로</button>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <!--댓글-->
    <div class="d-flex row justify-content-center">
    <div class="card" style="width: 95%;">
      <div class="card-header">
          <div class="col-md-12">
              {% csrf_token %}
              <div class="form-group d-flex">
                  {% if request.user.is_authenticated %}
                    <form style="width: 100%;"action="{% url 'community:create_comment' review.pk %}" method="POST" name="comment-form">
                      {% csrf_token %}
                      {{ comment_form }}
                      <div class="text-right" style="float:right">
                        <br><input type="submit" value="댓글달기" class="btn btn-sm" style="background-color: #6495ED; color: white; font-size: 15px; margin-top:-5px; margin-right:-12px;">
                      </div>
                    </form>
                  {% else %}
                    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
                  {% endif %}
              </div>
              {% if comments|length %}
                <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
              {% else %}
                <p><b>댓글이 없습니다.</b></p>
              {% endif %}
              <hr>
              {% for comment in comments %}
                <div>
                  <span class="font02">{{ comment.user }}</span><br>
                  <span class="text-center">{{ comment.content }}</span><br>
                  <div class="text-right">
                    <span>{{ comment.created_at|date:'Y.m.d. H:i'}}</span>
                    {% if request.user == comment.user %}
                      <form action="{% url 'community:comments_delete' review.pk comment.pk %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" value="DELETE" class="btn btn-sm" style="background-color: #d14040f2; color: white; margin-top:-5px; margin-right:-12px;">
                      </form>
                  </div>
                  {% endif %}
                </div>
                <hr>
              {% endfor %}
          </div>
          <br>
      </div>
    </div>
    </div>
  </div>
{% endblock  %}

{% block style %}
  label {
    position:absolute !important;  
    width:1px; 
    height:1px; 
    overflow:hidden;
    clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip:rect(1px, 1px, 1px, 1px);
  }
  #id_content {
    rows: 3;
    margin-top: 6px;
    width: 100%;
  }
  #delete_btn {
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    color: black;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
{% endblock %}

{% block script %}
  <script>
    document.getElementById('id_content').placeholder = '댓글을 입력해주세요.';
    document.getElementById('id_content').rows = 3;

    const likeBtnForms = document.querySelectorAll('#form_like')
    likeBtnForms.forEach(likeBtnForm => {
      const reviewId = likeBtnForm.dataset.reviewid
      likeBtnForm.addEventListener('click', function (e) {
        e.preventDefault()
        const API_URL = `/community/${reviewId}/like/`
        const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
        const options = {headers: {'X-CSRFToken': csrfToken}}

        axios.post(API_URL, {}, options)
          .then(res => {
            const { is_like, like_count } = res.data
            const likeHeart = document.querySelector(`.heart-${reviewId}`)
            likeHeart.style.color = is_like ? 'crimson' : 'black'
            const countHeart = document.querySelector(`#likeCount-${reviewId}`)
            countHeart.innerText = `좋아요 수 : ${like_count}`
          })
          .catch(err => {
            console.error(err)
          })

      })
    })
  </script>
{% endblock %}
