{% extends 'base.html' %}

{% block content %}
  <div style="width:100%; height:100%; background-image:URL(https://an2-img.amz.wtchn.net/image/v1/watcha/image/upload/v1600848003/z5bqlnc8yqsakgm4wjmo.webp;">
    <div class="main-container">
      <div class="wrap">
        <div class="main-wrap nt-0">
          <h1 class="display-4 font01 mb-5">회원가입</h1>
          <form action="" method="POST">
            {% csrf_token %}
            <div class="font02">
              {{ form.as_p }}
            </div>
            <li class="font02" style="color: black;">다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
            <li class="font02" style="color: black;">비밀번호는 최소 8자 이상이어야 합니다.</li>
            <li class="font02" style="color: black;">통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
            <li class="font02" style="color: black;">숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
            <br>
            <div class="d-flex column justify-content-center">
              <input class="btn-block btn-lg btn-primary" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.getElementById('id_username').placeholder = '아이디';
    document.getElementById('id_password1').placeholder = '비밀번호';
    document.getElementById('id_password2').placeholder = '비밀번호 확인';
  </script>
{% endblock %}

{% block style %}
  .main-container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
  }
  .wrap {
    padding-right: 30px;
    width: 80%;
    height: 50%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-size: 300px;
  }
  .main-wrap {
    margin-left: 30px;
    width:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 21px;
    
  }
  span {
    white-space: pre-line;
  }
  p label {
    position:absolute !important;  
    width:1px; 
    height:1px; 
    overflow:hidden;
    clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip:rect(1px, 1px, 1px, 1px);
  }
  .helptext {
    position:absolute !important;  
    width:1px; 
    height:1px; 
    overflow:hidden;
    clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip:rect(1px, 1px, 1px, 1px);
  }
  ul {
    position:absolute !important;  
    width:1px; 
    height:1px; 
    overflow:hidden;
    clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip:rect(1px, 1px, 1px, 1px);
  }
  p input {
    width: 465px;
    height: 48px;
    border: solid 1px var(	--border-gray-color );
    background: lightyellow;
  }
{% endblock %}
